# Ignore node_modules
node_modules/

uploads/drink-images/*
uploads/image/*

!uploads/drink-images/.gitkeep
!uploads/image/.gitkeep

# Ignore build output
/build/
/dist/

# Ignore environment variables file
.env

# Ignore IDE files (for VS Code, IntelliJ, etc.)
.vscode/
.idea/

# Ignore logs
*.log